@font-face {
  font-family: letra1;
  src: url(letra1.otf);
}

@font-face {
  font-family: letra2;
  src: url(letra2.otf);
}
form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
h1{
  text-align: center;
  font-family: letra1;
}
p,ul{
  text-align: center;
  font-family: letra2;
}
label, input, textarea{
  margin: 10px;
  font-family: letra2;
}
input, textarea{
  padding: 10px;
  border: 1px solid #ccc;
}
button{
  padding:20px 20px ;
  background: color #4caf50; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color: #98ff9c;
}

.block{
  text-align:center;
  background-color:lightgray;
  }
  
  .list{
  text-align: left;
  display:inline-block;
  }